@{
    ViewBag.Skin = "skin-1";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Endless Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="overflow-hidden">
    <!-- Overlay Div -->
    @Html.Partial("_Overlay")

    <div id="wrapper" class="sidebar-mini">
        @Html.Partial("_TopNav")
        @Html.Partial("_SideBar")

        <div id="main-container">
            <div id="breadcrumb">
                <ul class="breadcrumb">
                    @RenderSection("breadcrumbs", required: false)
                    <li><span class="primary-font"><i class="fa fa-home"></i></span><a href="index.html"> Home</a></li>
                    <li class="active">Blank page</li>
                </ul>
            </div><!-- breadcrumb -->
            <div class="padding-md">
                @RenderBody()
            </div>
        </div><!-- /main-container -->
    </div><!-- /wrapper -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/js-base")
    @RenderSection("scripts", required: false)
</body>
</html>