<aside class="@ViewBag.Skin fixed">
    <div class="brand">
        <a href="@Url.Action("Index", "Home")">
            <span>C.A.S.M</span>
        </a>
    </div><!-- /brand -->
    <div class="sidebar-inner">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div><!-- /size-toggle -->

        <div class="main-menu">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <span class="menu-icon">
                            <i class="fa fa-calendar fa-lg"></i>
                        </span>
                        <span class="text">
                            Home
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Info", "Trip")">
                        <span class="menu-icon">
                            <i class="fa fa-plane fa-lg"></i>
                        </span>
                        <span class="text">
                            Add Trip
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Manage")">
                        <span class="menu-icon">
                            <i class="fa fa-cogs fa-lg"></i>
                        </span>
                        <span class="text">
                            Manage
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
            </ul>
        </div><!-- /main-menu -->
    </div><!-- /sidebar-inner -->
</aside>
