@model Jobney.Casm.Web.ViewModels.TripCalendarViewModel

<div class="padding-md">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PlaneLegend", Model)
            @Html.Partial("_TripQuickAdd", Model)
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-calendar fa-lg"></i> Calendar
                </div>
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div><!-- /.col-->
    </div>
</div>
@section styles
{
    @Styles.Render("~/Content/css/fullcalendar")
}

@section scripts
{
    @Scripts.Render("~/bundles/fullcalendar")
    <script>
        $(function () {

            // Full calendar
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                selectable: true,
                selectHelper: true,
                events: @Html.Raw(Model.TripsJson)
            });
        });
    </script>
}
