@model Jobney.Casm.Web.ViewModels.TripCalendarViewModel

<div class="padding-md">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PlaneLegend", Model)
            @Html.Partial("_TripQuickAdd", Model)
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-calendar fa-lg"></i> Calendar
                </div>
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div><!-- /.col-->
    </div>
</div>
@section styles
{
    @Styles.Render("~/Content/css/fullcalendar")
}

@section scripts
{
    @Scripts.Render("~/bundles/fullcalendar")
    
    <script src="@Url.Content("~/Scripts/pages/home.index.js")"></script>

    <script>
        $(function() {
            var events = @Html.Raw(Model.TripsJson);
            homeApp.init(events);
        });
    </script>
}
