@model Jobney.Casm.Web.ViewModels.TripCalendarViewModel

<div class="padding-md home-page">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_PlaneLegend", Model)
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3">
            @Html.Partial("_TripQuickAdd", Model)
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-calendar fa-lg"></i> Calendar
                </div>
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div><!-- /.col-->
    </div>
</div>
@section styles
{
    @Styles.Render("~/Content/css/fullcalendar")
}

@section scripts
{
    @Scripts.Render("~/bundles/fullcalendar")
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="@Url.Content("~/Scripts/libs/jquery.geocomplete.js")"></script>
    <script src="@Url.Content("~/Scripts/pages/home.index.js")"></script>

    <script>
        $(function() {
            var events = @Html.Raw(Model.TripsJson);
            var urls = {
                tripQuickCreate: '@Url.Action("QuickAdd", "Trip")',
                tripInfoBase: '@Url.Action("Info", "Trip")'
            };

            homeApp.init(events, urls);
        });
    </script>
}
